.center{text-align: center;color:rgb(44, 42, 42);}
.fondo1{background:rgb(62, 126, 151) ; color: white;}
.fondo2{background: rgb(216, 32, 32); color: white;}
.fondo3{background: orange; color:white ;}
.fondo4{background: rgb(49, 49, 143); color: white;}
.fondo5{background: rgb(54, 128, 54); color: white;}
.center2{text-align: center; color: white;}